<div class="container">
  <div class="info-card-container">
    <div class="row">
      <div class="col-sm">
        <img src="/assets/prateek.jpg" alt="Prateek Sinha" class="img-responsive" width="500px">
      </div>
      <div class="col-sm info-card-content m-2">
        <h2 class="info-card-bio--title">Prateek Kumar Sinha</h2>
        <p class="info-card-bio--copy">Prateek Kumar Sinha (born September 09, 1989), is
          an ambitious professional with problem-solving proficiency and extensive Senior Software Engineer
          experience,
          I was thrilled to learn about the Software Engineer opening.
          I was compelled to contact you with my interest as it would a career highlight to be considered for
          such an opportunity with your esteemed organisation.
          I believe that my professional background and industrialist drive make me an ideal candidate to fill this
          position
        </p>

        <p class="info-card-bio--copy">Front-End Developer with proven experience at SAP,
          ServiceAide in helping companies create and maintain a better code base for reusability.
          Capable of continuous learning from senior developers while still nurturing junior developers.
          Experience in driving projects forward as the development team leader,
          facilitating projects from concept to launch.
          Passionate about learning and development with a desire to apply skills on a larger development team.
          Eager to tackle more complex problems and continue to find ways to maximize user efficiency.</p>

          <a routerLink="/login" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Login to view Details</a>
      </div>
    </div>
  </div>
</div>