.card0 {
  box-shadow: 0px 4px 8px 0px #757575;
  border-radius: 0px;
}

.card2 {
  margin: 0px 40px;
}

.social-icon-style2 {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.social-icon-style2 li i {
  display: inline-block;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  background: #59b73f;
  height: 41px;
  line-height: 41px;
  width: 41px;
  border-radius: 0.3rem !important;
  margin-right: 5px;
}

h2 {
  color: #ff712a !important;
}

.icon-box {
  font-size: 30px;
  margin-bottom: 33px;
  display: inline-block;
  color: #ffffff;
  height: 65px;
  width: 65px;
  line-height: 65px;
  background-color: #59b73f;
  text-align: center;
  border-radius: 0.3rem;
}

.rounded-3 {
  border-radius: 0.3rem !important;
}